body {
    background-color: rgb(227, 241,204);
}

img{
    border: 2px solid rgb(227, 241, 204);
    border-radius: 10px;
    width: 500px; 
    height: 400px; 
    object-fit: cover;
    transition: .5s;
}

img:hover{
    transform: translateY(-20px);
    border-radius: 10px;
    transform: scale(1.1);
    transition: .5s;
    border: 2px solid #ed6a4c;
    box-shadow:   5px 5px 20px #ed6a4c;
    cursor: pointer;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}