body {
    background-color: rgb(227, 241, 204);
    
}

h1, h2, p{
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(46, 46, 85);
    line-height: 1.5;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    text-align: center;
}
.centrado{
    display: flex;
    justify-content: center;
}


.image{
    border: 5px solid rgb(227, 241, 204);
    border-radius: 10px;
    height: 400px;
    width: 900px;
    transition: .5s;
}

.image:hover{
    transform: translateY(-20px);
    width: 950px;
    border: 3px solid rgb(236, 90, 37);
    box-shadow: 5px 5px 15px rgb(236, 90, 37);
    transition: .5s;
}

.link-button {
    text-decoration: none;
    color: rgb(214, 214, 214);
    border: 1px solid gray;
    background: linear-gradient(145deg, #1b1d1f, #535355d4);
    padding: 5px;
    border-radius: 5px;
    transition: .5s;
}

.link-button:hover{
    background: linear-gradient(145deg, #535355d4,#1b1d1f );
    box-shadow: 5px 5px 15px rgb(236, 90, 37);
    border-bottom: 1px solid rgb(236, 90, 37);
    color: orangered;
    transition: .5s;
}