body {
    background-color: rgb(255, 255, 165);
}

.image {
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    font-size: 15px;
    background: linear-gradient(145deg, #161718, #25282cd6);
    text-decoration: none;
    color: rgb(227, 227, 227);
    padding: 5px;
    border-radius: 20px;
    transition: .5s;

}

.link-button:hover {
    background: linear-gradient(145deg, #25282cd6, #161718);
    border-radius: 20px;
    color: #ed6a4c;
    border-bottom: 2px solid #ed6a4c;
    box-shadow: 5px 5px 20px #ed6a4c;
    transition: .5s;

}